body, html {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    padding: 0;
}
.wrapper {     
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
/*Header */
.header {
    display: grid;
    width: 60%;
    height: 104px;
    grid-template-columns: repeat(12,1fr);
    font-size: 14px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    
}
.header .logo {     
    font-size: 21px;
    font-weight: 600;
    grid-column: 1;  
    margin-left: 5%
}
.header .logo span {
    color:red;
}
.header__phone {
    grid-column: 2/5;
    padding-top: 0.1em;
    margin-left: 5%
}
.header__btn {
    grid-column: 10/13;
}
/*Main window content */
.content__1 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    height: 20%;  
    margin-bottom: 4%; 
}
.main__img {   
    grid-row: 1;
    grid-column: 1/5;   
    width: 100%;
    height: 100%;
    z-index: 1;
}
/*Input info on image - start*/
.content__1 .content__1__info {
    margin-top: 10%;
    display: grid;
    grid-column: 1/7;
    grid-row: 1;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 100%;
    z-index: 2;
    justify-content: center;
    align-items: center;
}
.content__1__info h3 span {
    color: red;
}
.content__1__info h3 {
    grid-column: 1/7;
    grid-row: 1 ;
    margin-left: 10%;
    color: #fff;
    font-size: 40px;
}
.content__1__price {  
    grid-column: 2/5;
    grid-row: 2;
    display: grid;   
    grid-template-columns: repeat(2,1fr);
}
.content__1__price .price__img {
    align-content: center;
    grid-column: 1/3;
    grid-row: 1;
    z-index:1;
}
.content__1__price .price__img img {
    width: 70%;
    height: 100%;
    z-index:1;
}
.content__1__info .container__price {  
    margin-left: 10px;
    margin-top: -10%; 
    display: grid;  
    grid-row: 1; 
    grid-column: 1/3; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    z-index:5;    
    justify-content: center;
    align-items: center; 
}
.content__1__info .container__price .label__1{ 
    font-weight: 800;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 0 0 0 10px;
    grid-row: 1; 
    color: #fff;    
}   
.content__1__info .container__price .label__2{ 
    font-weight: 800;
    font-size: 35px;
    padding: 0 0 0 10px;
    grid-row: 2; 
    color: #fff;    
}    
.percent{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    font-weight: 800;
    font-size: 35px;
    color: #fff;
}
.content__1__info .container__price .percent {
    margin-top: 20px;
    grid-column: 2;
    grid-row: 1/3;
}
.content__1__info .info__btn {
    grid-column: 1/3;
    grid-row: 3;
    margin-left: 10%;
    margin-top: -120px;
    z-index: 3;
}
/*Input info on image - end*/
/* Content__2 -start */

.content__2 {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 2%;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    z-index: 1;
}
.content__2 .content__2__info {
    grid-column: 1;
    margin-bottom: 2%;
}
.content__2 .content__2__info ul {
    list-style-type: none;
    display: grid;
    margin-left: -10%;
}
.content__2 .content__2__info ul li {
    margin-top: 1%;
    width: 50%;
    display: grid;
    grid-template-columns: 50px 250px;
}
.content__2 .content__2__info ul li:first-child img {
    margin-left: -10%;
}
.content__2 .content__2__info ul li figcaption {
    margin-top: 5%;
    float: right;
    padding-right: 8%;
}
.content__2 .content__2__photo {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 100%;
}
.content__2 .content__2__photo .slidePhoto {
    width: 100%;
    height: 90%;
    grid-row: 1;
    grid-column: 1/13;
    z-index: 1;
}
.content__2__photo .photo__upgreate {
    grid-column: 1/13;
    grid-row: 1;
    z-index: 3;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(9, 1fr);
    justify-content: center;
    align-items: center;
}
.photo__upgreate .slidebar {
    grid-column: 1/13;
    grid-row: 8/10;
    width: 100%;
   
}
.photo__upgreate .zoom {
    grid-column: 11/13;
    padding-left: 40%;
    grid-row: 7/9;
    
}
.photo__upgreate .play__btn {
    grid-column: 1;
    padding-left: 30%;
    grid-row: 7/9;
    z-index: 2;
}
.content__2 .raiting__mark {
    grid-row: 2;
    display: grid;
    padding-bottom: 2%;
    grid-template-columns: 0.25fr 1.6fr 1fr ;
    border-bottom: 1px solid #C7C7C7;
    border-top: 1px solid #C7C7C7;
}
.content__2 .raiting__mark .gr__cup {
    grid-column: 1;
    margin-top: 50%;
}
.content__2 .raiting__mark .rait {
    grid-column: 2;
    grid-row: 1;
    padding-top: 7%;
}
.content__2 .raiting__mark .stars__bar {
    grid-column: 3; 
    margin-top: 20%;
}

/*Content2 end */

/*Photo__package start */
.photo__package {
    width: 60%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid #C7C7C7;
    margin-bottom: 4%;
}
.photo__package p {
    font-size: 20px;
    font-weight: 500;
}
.photo__galery {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 1%;
    padding: 0;
}
.photo__galery img {
    width: 100%;
    height: 100%;
}
.photo__galery .media__img1 {
    display: grid;
    width: 100%;
    height: 100%;
}
.photo__galery .media__img2 {
    display: grid;
    width: 100%;
    height: 100%;
}
.media__photo {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
   
}
.media__play__img {
    display: grid;
    grid-row: 1;
    grid-column: 1;
    justify-content: center;
    align-items: center;
   
}
.media__img1 .dark__img,
.media__img2 .dark__img {
    grid-column: 1;
    grid-row: 1;
    z-index: 3;
    display: grid;
}
.media__play__img .elips__img {
    grid-column: 1;
    width: 50%;
    height: 35%;
    grid-row: 1;
    z-index: 4; 
    margin-left: 30%;
}
.media__play__img .vector__img2 {
    grid-column: 1;
    width: 10%;
    height: 15%;
    grid-row: 1;
    z-index: 4; 
    margin-left: 50%;
}
.photo__package .container__slide__photo {
   display: grid;
   align-items: center;
   justify-content: center;
   padding-top: 2%;
}
.photo__package .container__slide__photo a:hover {
   padding: 5px;
   border: 1px solid blue;
   border-radius: 10px;
}
/*End photo__package*/
/*Content__3 start*/
.content__3 {
    display: grid;
    width: 60%;
    margin: 0 auto;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 3%;
    border-bottom: 1px solid #C7C7C7;
    margin-bottom: 2%;
}
.content__3 .text__content__3 h3{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 1%;
}
.content__3 .text__content__3 p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}

.content__3 .text__content__3 .read__more {
    margin-top: 1%;
    margin-bottom: 5%;
}
.content__3 .avatar__content__3 {
    display: grid;
}
.content__3 .avatar__content__3  .heart {
    margin-left: 60%;
    z-index: 1;
    grid-row: 1;
    grid-column: 1;
}
.content__3 .avatar__content__3  .avatar__img {
    z-index: 2;
    grid-row: 1;
    grid-column: 1;  
    padding-top: 4%;
    margin-left: 5%;
}
.content__3 .avatar__content__3  .avatar__img img {
    margin-bottom: 7%;
    margin-left: 15%;
}
.content__3 .avatar__content__3  .avatar__img figcaption {
    font-size: 16px;
    font-weight: 500;
    margin-left: 15%;
}
.content__3 .avatar__content__3  .avatar__img p {
    margin-left: 25%;
    font-size: 14px;
    font-weight: 400;
    padding: 0px;
    margin-bottom: 0px;
}
.content__3 .avatar__content__3  .avatar__img .more__info a{
    font-size: 14px;
    font-weight: 500;
    text-align: center;  
}
.content__3 .avatar__content__3  .avatar__img .more__info p {
   margin: 0px;
   padding: 0px;
   width: 70%;
}
/*End content__3 */

/*Start content__4 */
.content__4 {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 4%;
}
.content__4 h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2%;
}
.content__4 .container {
    width: calc(calc(760/1140)*100%);
    border-bottom: 1px solid #C7C7C7;
    margin-left: 0px;
    display: grid;
    grid-template-rows: 15% 1fr 1fr 1fr 10%;
    padding: 0px;
}
.content__4 .container .date__itm {
    display: grid;
    margin: 0px;
    padding: 2% 0% 0% 3%;
    border: 1px solid #C7C7C7;
    grid-template-columns: 1fr 3.5fr;
  
}
.content__4 .container .date__itm p{
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
}
.content__4 .container .date__itm p span{
    font-size: 18px;
    font-weight: 500;
}
.content__4 .container .time__1 {
    display: grid;
    padding: 3% 0% 0% 3%;
    grid-template-columns: 1fr 0.5fr;
    border: 1px solid #C7C7C7;
}
.content__4 .container .time__1 p{
    font-size: 18px;
    font-weight: 400;
}
.content__4 .container .time__1 p span{
    font-size: 18px;
    font-weight: 500;
}
.content__4 .container .time__1 .check__btn {
    margin: 0 auto;
    margin-top: 3%;
    margin-left: 40%;
}
.content__4 .container .time__2 {
    display: grid;
    padding: 3% 0% 0% 3%;
    grid-template-columns: 1fr 0.5fr;
    border-left: 1px solid #C7C7C7;
    border-right: 1px solid #C7C7C7;
}
.content__4 .container .time__2 p{

    font-size: 18px;
    font-weight: 400;
}
.content__4 .container .time__2 p span{
    font-size: 18px;
    font-weight: 500;
}
.content__4 .container .time__2 .check__btn {
    margin: 0 auto;
    margin-top: 3%;
    margin-left: 40%;
}

.content__4 .container .raiting__mark {
    display: grid; 
    width: 100%;
    margin: 0 auto;  
    align-items: center;
    border-left: 1px solid #C7C7C7;
    border-right: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
    padding-bottom: 2%;
}
.content__4 .raiting__mark .gr__cup {
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    padding-left: 3%;
}
.content__4 .raiting__mark .rait {
    grid-column: 1;
    padding-top: 2%;
    z-index: 1;
    grid-row: 1;
    padding-left: 8%;
}
.content__4 .raiting__mark .stars__bar {
    grid-column: 1;  
    z-index: 3;
    grid-row: 1;
    padding-top: 1%;
    padding-left: 45%;
}
.content__4 .raiting__mark span {
    font-weight: 500;
}
/*end content__4*/

/*Start map__content */
.map__content {
    display: block;
    width: 100%;
    align-items: center;
    margin-bottom: 2%;
}
.map__content .map__item {
    z-index: 1;
    width: 100%;
}
.map__content .frame__info  {
    z-index: 2;
    grid-column: 1;
    grid-row: 1;
    display: grid;
    margin-left: 20%;
    margin-top: -530px;
}
.map__content .frame__info .frame__img {
    z-index: 2;
    grid-column: 1;
    grid-row: 1;
}

.map__content .frame__info .meet__info {
    display: grid; 
    width: 420px;
    z-index: 4;
    grid-column: 1;
    grid-row: 1; 
    font-size: 18px;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.map__content .frame__info .meet__info .items {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    z-index: 1;
}
.map__content .frame__info .meet__info .items img {
    grid-column: 1;
    grid-row: 1/4;
  
}
.map__content .frame__info .meet__info .items .ava__img {
    grid-column: 1;
    grid-row: 1/4;
    width: 67px;
}
.map__content .frame__info .meet__info .itm__4 span {
    font-weight: 500;
}
.map__content .frame__info .meet__info .itm__4  p{
    z-index: 1;
}
.map__content .frame__info .meet__info .itm__4  a{
    margin-top: -7%;
    font-size: 14px;
}

/* End map content */
/* Start feed__back */
.feed__back {
    width: 44%;
    margin-left: 20%;
}
.feed__back h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2em;
}
.feed__back .container {
    display: grid;
    margin-left: 0%;
    color: #37373F;
}
/*first block */
.feed__back .container .fst__feedback {
    display: grid;
    grid-row: 1;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 1.1fr 1fr 0.4fr;
    margin-bottom: 4%;  
    font-size: 14px; 
}
.feed__back .container .fst__feedback .info_fb_fst {
    grid-column: 2/7;
    display: grid;
    grid-template-rows: repeat(3,30px);
    grid-template-columns: repeat(4,1fr);  
    align-items: center; 
    margin-left: 2%;
}
.feed__back .container .fst__feedback .info_fb_fst figcaption {
    grid-column: 1/5;
    grid-row: 1;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 1%;
}
.feed__back .container .fst__feedback .info_fb_fst .fb__feels {
    grid-row: 3;
    grid-column: 2/5;
    padding: 0px;
    margin: 0px;
    margin-left: 15%;
    color: #B3B3B3;
}
.feed__back .container .fst__feedback .feed__back__date{
    grid-row: 3;
    grid-column: 2/8;
    margin: 0px;
    color: #B3B3B3; 
    padding-bottom: 6%;
    border-bottom: 1px solid #C7C7C7;
    margin-left: 2%;
}
.feed__back .container .fst__feedback .info_fb_fst .profession__txt {
    grid-column: 1/5;
    grid-row: 2;
    color: #37373F;
    padding-left: 1%;
}
.feed__back .container .fst__feedback .text__feedback {
    grid-row: 2;
    grid-column: 2/7;
    font-size: 16px;
    margin: 0px;
    margin-left: 2%;
}
/* second block */
.feed__back .container .scnd__feedback {
    display: grid;
    grid-template-columns: 106px repeat(7,1fr);
    grid-template-rows: 1.1fr 1fr 0.4fr;
    margin-bottom: 4%;  
    font-size: 14px;  
}
.feed__back .container .scnd__feedback .info_fb_scnd {
    grid-column: 2/7;
    display: grid;
    grid-template-rows: repeat(3,30px);
    grid-template-columns: repeat(4,1fr);  
    align-items: center; 
    margin-left: 2%;  
}
.feed__back .container .scnd__feedback .info_fb_scnd figcaption {
    grid-column: 1/5;
    grid-row: 1;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 1%;
}
.feed__back .container .scnd__feedback .info_fb_scnd .fb__feels {
    grid-row: 3;
    grid-column: 2/5;
    padding: 0px;
    margin: 0px;
    margin-left: 15%;
    color: #B3B3B3;
}
.feed__back .container .scnd__feedback .feed__back__date{
    grid-row: 3;
    grid-column: 2/8;
    margin: 0px;
    color: #B3B3B3; 
    padding-bottom: 6%;
    border-bottom: 1px solid #C7C7C7;
    margin-left: 2%;
}
.feed__back .container .scnd__feedback .info_fb_scnd .profession__txt {
    grid-column: 1/5;
    grid-row: 2;
    color: #37373F;
    padding-left: 1%;
}
.feed__back .container .scnd__feedback .text__feedback {
    grid-row: 2;
    grid-column: 2/7;
    font-size: 16px;
    margin: 0px;
    margin-left: 2%;
}
/* third__block */
.feed__back .container .thrd__feedback {
    display: grid;
    grid-row: 3;
    grid-template-columns: 106px repeat(7,1fr);
    grid-template-rows: 0.8fr 1.5fr 0.4fr;
    margin-bottom: 4%;  
    font-size: 14px;   
}
.feed__back .container .thrd__feedback .info_fb_thrd {
    grid-column: 2/7;
    display: grid;
    grid-template-rows: repeat(3,30px);
    grid-template-columns: repeat(4,1fr);  
    align-items: center; 
    margin-left: 2%;  
}
.feed__back .container .thrd__feedback .info_fb_thrd figcaption {
    grid-column: 1/5;
    grid-row: 1;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 1%;
}
.feed__back .container .thrd__feedback .info_fb_thrd .fb__feels {
    grid-row: 3;
    grid-column: 2/5;
    padding: 0px;
    margin: 0px;
    margin-left: 15%;
    color: #B3B3B3;
    font-size: 14px;
}
.feed__back .container .thrd__feedback .feed__back__date{
    grid-row: 3;
    grid-column: 2/8;
    margin: 0px;
    color: #B3B3B3; 
    padding-bottom: 6%;
    border-bottom: 1px solid #C7C7C7;
    margin-left: 2%;
}
.feed__back .container .thrd__feedback .info_fb_thrd .profession__txt {
    grid-column: 1/5;
    grid-row: 2;
    color: #37373F;
    padding-left: 1%;
}
.feed__back .container .thrd__feedback .text__feedback {
    grid-row: 2;
    grid-column: 2/7;
    font-size: 16px;
    margin: 0px;
    margin-left: 2%;
}
/*img show more */
.feed__back .container .show__more {
    margin: 0 auto;
}
/*feedback end  */
/* content 5 start */
.content__5 {
    display: grid;
    width: 80%;
    height: 100px;
    grid-template-columns: repeat(12,1fr);
    font-size: 14px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.content__5 .logo {     
    font-size: 21px;
    font-weight: 600;
    grid-column: 1;  
    margin-left: 5%
}
.content__5  .logo span {
    color:red;
}

.content__5 .social__link {
    grid-column: 8/10;
    font-size: 21px;
    text-align: end;
    
}
.content__5 .social__link a {
    padding-right: 10px;
    color: blue;
}
.content__5 .social__link a:last-child,
.lang__1 a {
    color: black;
}

.content__5 .social__link a:hover {
    transition: all 0.2s ease;
    font-size: 30px;
    color: red;
}
.content__5 .lang__1 {
    z-index: 1;
    font-size: 16px;
    position: relative;
    padding-left: 10px;
}
.content__5 .lang__1 li {
    list-style-type: none;
}
.content__5 .lang__1 li a {
    text-decoration-line: none;
    padding-right: 10px;
}
.content__5 .lang__1 > ul {
    display: none;
}
.content__5 .lang__1:hover > ul {
    display: inline-flex;
    position: absolute;
    z-index: 3;
    margin-left: -50px;
}
/* content 6 end */
.footer {
    display: grid;
    background-color: #FAF9F8;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    align-items: center;
}
.footer .mc__symbl {
   
    margin-left: 70%;
}
.footer .visa__smbl {
    font-size: 40px;
    color: blue;
    text-align: start;
    justify-content: center;
}
.footer .about {
    grid-column: 3/6;
    text-align: center;
    justify-content: center;
}
.footer .about p {
    padding: 0px;
    margin: 0px;
}
/* footer start */
/* footer end */